.graph{
	position: absolute;
	top:658px;
	width: 100%;
      padding-top: 50px;
}


.room_selector{
  list-style: none;
  float: right;
  position: absolute;
  top:20px;
  right: 100px;
  z-index: 2;
}

.room_selector li{
  display: inline-block;
  color: #394043;
  font-size: 16px;
  font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
  padding: 5px;
}

.room_selector li:hover{
  cursor: pointer;
}

.room_selector .on{
  background-color: #394043;
  color: white;
}

#container{
  min-width:400px;
  height:400px;
  z-index: 1;
}



