.indexGraph {
  width: 100%;
  height: auto;
  position: absolute;
  top: 750px;
}


.indexGraph .attribute-selector, .index-y-selector {
  display: inline-block;
  /*float: left;*/
  list-style: none;
  margin: 20px;
}

.indexGraph .attribute-selector li {
  color: #4572A7;
  font-size: 16px;
  font-family: '黑体';
  display: inline;
  padding-left:10px;
  padding-right:10px;
  padding-top: 6px;
  padding-bottom: 6px
}

.indexGraph .attribute-selector .chosen {
  color: #ffffff;
  background-color: #4572A7;
}

.indexGraph .attribute-selector li:hover {
  cursor: pointer;
}
.indexGraph .index-y-selector li {
  color: #4572A7;
  font-size: 16px;
  font-family: '黑体';
  display: inline;
  padding-left:10px;
  padding-right:10px;
  padding-top: 6px;
  padding-bottom: 6px
}
.indexGraph .index-y-selector .chosen {
  color: #ffffff;
  background-color: #4572A7;
}
.indexGraph .index-y-selector li:hover {
  cursor: pointer;
}
/*
.indexGraph .index-y-selector .hidden {
  display: none;
}
*/

#container {
  min-width: 400px;
  height: 400px;
  z-index: 1;
}

.attribute-filter{
  display:block;
  padding: 20px;
  /*position: absolute;*/
  top: 20px;
  margin: 0 auto;
}
.selectorLine{
  display: block;
  padding: 4px 0px;
}
/*.selectorLine-price{
  border-top: 1px solid #cecece;
}*/
.selectorLine-distance{
  padding-bottom: 20px;
  border-bottom: 1px solid #cecece;
}
/*每个标签*/
.sl-key{
  color: #394043;
  font-weight: bold;
  float: left;
  width: 100px;
  padding-left: 10px;
  font-size: 10px;
}
/*每个选项*/
.sl-value .sl-value-list li{
  display: inline;
  color: #666;
  margin-right: 16px;
  font-size: 10px
}
.sl-value .sl-value-list li:hover{
  color: #4572A7;
  cursor: pointer;
}

.hidden{
  display: none;
}

#spider-graph{
  display: none;
  width: 80%;
  height: auto;
  margin: 0 auto;
  /*float: right;*/
}

.total{
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 30px;
  border-bottom:1px solid #cecece;
  font-weight: bold;
    font-size: 22px;
    color: #394043;
}

.total span{
    font-weight: bold;
    font-size: 25px;
    color: red;
}
.selector-line{
  padding-left: 32px;
}


#graph-container{
  width: 97%;
    margin: 0 auto;
}

/* alice/table 样式模块 */
.ui-table {
    border-collapse:collapse;
    border:1px solid #ccc;
    width:100%;
    font-size: 12px;
    text-align: left;
}

.ui-table-layout-fixed {
    table-layout:fixed;
}

.ui-table tr:nth-child(even),
.ui-table-split, /* 隔行换色效果 */
.ui-table-hover /* 用作表格行hover效果 */ {
    background-color:#FBFBFB;
}

.ui-table tr {
    color:#808080;
}

.ui-table thead tr {
    color:#666;
}

.ui-table thead {
    color:#666;
    background-color: #F6F6F6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F2F2F2');
    background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#F2F2F2));
    background: -moz-linear-gradient(top, #F8F8F8, #F2F2F2);
    background: -o-linear-gradient(top, #F8F8F8, #F2F2F2);
    background: linear-gradient(top, #F8F8F8, #F2F2F2);
}

.ui-table th {
    padding:7px 9px;
    border-bottom:1px solid #d9d9d9;
    text-align: left;
}

.ui-table td {
    padding:8px 9px 7px;
    border-bottom:1px solid #d9d9d9;
}

.ui-table th {
    padding:7px 9px;
}

.ui-table tfoot td {
    border-bottom:none;
}

/* 无边框table加上ui-table-noborder */
.ui-table-noborder, .ui-table-noborder td, .ui-table-noborder tr, .ui-table-noborder th {
    border:none;
    outline:none;
}

.ui-table-noborder .ui-table-split, .ui-table-noborder .ui-table-hover {
    background-color:#f7f7f7;
}

/* 当table放在一个有边框的容器中时，比如ui-box，需要添加类名ui-table-inbox去掉本身的外框 */
.ui-table-inbox {
    border:none;
    outline:none;
}

#spider-table{
  position: relative;
  width: 80%;
  /*float: left;*/
  display: none;
  margin:20px auto;
}

#clearBlockList{
  position: absolute;
  right: -120px;
  top:10px;
}

#clearBlockList:hover{
  cursor: pointer;
  color: red;
}