.indexGraph {
  width: 880px;
  height: auto;
  margin-left: 500px;
  /*position: relative;*/
}


.indexGraph .attribute-selector, .index-y-selector {
  display: block;
  /*float: left;*/
  list-style: none;
  margin: 20px;
}

.indexGraph .attribute-selector li {
  color: #4572A7;
  font-size: 16px;
  font-family: '黑体';
  display: inline;
  padding-left:10px;
  padding-right:10px;
  padding-top: 6px;
  padding-bottom: 6px
}

.indexGraph .attribute-selector .chosen {
  color: #ffffff;
  background-color: #4572A7;
}

.indexGraph .attribute-selector li:hover {
  cursor: pointer;
}
.indexGraph .index-y-selector li {
  color: #4572A7;
  font-size: 16px;
  font-family: '黑体';
  display: inline;
  padding-left:10px;
  padding-right:10px;
  padding-top: 6px;
  padding-bottom: 6px
}
.indexGraph .index-y-selector .chosen {
  color: #ffffff;
  background-color: #4572A7;
}
.indexGraph .index-y-selector li:hover {
  cursor: pointer;
}
/*
.indexGraph .index-y-selector .hidden {
  display: none;
}
*/

#container {
  min-width: 400px;
  height: 400px;
  z-index: 1;
}

.attribute-filter{
  display:block;
  /*position: absolute;*/
  top: 20px;
}
.selectorLine{
  display: block;
  padding: 4px 0px;
}
.selectorLine-price{
  border-top: 1px solid #cecece;
}
.selectorLine-distance{
  border-bottom: 1px solid #cecece;
  margin-bottom: 40px;
}
/*每个标签*/
.sl-key{
  color: #666;
  font-weight: bold;
  float: left;
  width: 100px;
  padding-left: 10px;
  font-size: 10px;
}
/*每个选项*/
.sl-value .sl-value-list li{
  display: inline;
  color: #666;
  margin-right: 16px;
  font-size: 10px
}
.sl-value .sl-value-list li:hover{
  color: #4572A7;
  cursor: pointer;
}

.hidden{
  display: none;
}
