*{
	padding: 0;
	margin:0;
}

body{
	font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", 微软雅黑, "Segoe UI", Tahoma, 宋体b8b体, SimSun, sans-serif;
}

ol li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-content{
	width: 100%;
	position: relative;
}


footer{
    background: #fff;
    padding: 15px;
    color: #7A7676;
    font-size: 14px;
    position: absolute;
    top: 1513px;
    width: 100%;
    border-top: 1px solid #eff0f4;
    text-align: center;
}