<link rel="stylesheet" type="text/css" href="/stylesheets/areaMap.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=iyPuuhgLuXn9kgnqiyC32m6Z"></script>
<!--百度地图容器-->
  <div class="areaMap" style="border:#ccc solid 1px;" id="dituContent"></div>

<!--   <ol class="mapControl" id="mapSideControl" style="display: block;">
        <li class="li-item" data-val="price" data-value=""><i class="i-check fa fa-check"></i>均价热力图</li>
         <li class="li-item" data-val="paynum" data-value=""><i class="i-check"></i>成交量热力图</li>
          <li class="li-item" data-val="potential" data-value=""><i class="i-check"></i>潜力值热力图</li>
         
  </ol> -->
  <script type="text/javascript" src="/javascripts/source/jquery.min.js"></script>

