<link rel="stylesheet" type="text/css" href="/stylesheets/blockList.css">
<div  class="blockList">
	<div class="b-hd1">为您找到<span class="b-hd1_i">0</span>小区</div>
                <div class="b-hd2">
                <ol>

                  <li class="s-desc on" data-type="" style="width:45px">默认</li>

                  
                  <li class="s-desc" data-type="price_asc" data-value="price_asc" data-val2="price_desc">按单价<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="s-desc" data-type="age_asc" data-value="age_asc" data-val2="age_desc">按房龄<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>

                  <!-- <li class="s-desc" data-type="traffic_asc" data-val1="traffic_asc" data-val2="traffic_desc">按交通<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="s-desc" data-type="traffic_asc" data-val1="traffic_asc" data-val2="traffic_desc">按医疗<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="s-desc" data-type="traffic_asc" data-val1="traffic_asc" data-val2="traffic_desc">按教育<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                   <li class="s-desc" data-type="traffic_asc" data-val1="traffic_asc" data-val2="traffic_desc">按潜力<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="" data-type="mtime_desc">最新</li> -->
                 <!--  <li class="s-station" data-type="stationdistance_asc">距离地铁最近</li> -->

                  <!-- <li class="on s-default" data-type="">默认</li>
                  <li class="s-price s-desc" data-type="price_asc" data-val1="price_asc" data-val2="price_desc">按总价<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="s-area s-desc" data-type="area_asc" data-val1="area_asc" data-val2="area_desc">按面积<i class="desc">&uarr;</i><i class="asc">&darr;</i></li>
                  <li class="s-new" data-type="mtime_desc">最新</li>
                  <li class="s-station" data-type="stationdistance_asc">距离地铁最近</li> -->

                  </ol>
                </div>
                <div class="b-hd3">
                    <div class="b-hd3-content">
                    <ol class="i-card i-card-1"><li class="i-card-name">北京市</li><li class="i-card-price"><i style="color: #aaa;">参考均价 </i><span>56771</span>元/m²</li><!-- <li>共18个区域</li><li class="i-card-radio">城市均价，同比上月<i class="i-card-up" style="">↑</i>2.84%</li> --></ol>
                     <input type="button" id="b-hd3-submit" class='btn_compare' name="" value="加入比较栏"\>
                    </div>
                    <div class="b-hd3-bg">
                        <div class="b-hd3-cycle">
                            <div></div>
                        </div>
                        <div class="b-hd3-triangle"></div>
                    </div>
                </div>
                <div class="b-container">
                <ol class="b-content" >
                  
                  
                	<!--li class="list-item">小区3</li>
                	<li class="list-item">小区4</li>
                	<li class="list-item">小区5</li>
                	<li class="list-item">小区6</li>
                	<li class="list-item">小区7</li>-->
 

                </ol>
                </div>
	</div>
</div>

