<link rel="stylesheet" type="text/css" href="/stylesheets/graph.css">

    <script src="/javascripts/source/jquery.min.js"></script>
    <script src="/javascripts/source/highcharts.js"></script>
    <script src="/javascripts/source/exporting.js"></script>
    <script src="/javascripts/source/data.js"></script>
    <script src="/javascripts/widget/graph.js"></script>
<section class="graph">
      <ol class="room_selector">
        <li value="0"class="on">全部</li>
        <li value="1">一居</li>
        <li value="2">两居</li>
        <li value="3">三居</li>
      </ol>
      <div id="container"></div>
</section>



