<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
<div class="header">
	<a class="logo">
		<img src="/images/logo1.png" style="width: 150px;height: 32px;">
	</a>
	<div class="city">
    		<p>北京</p>
    		<ul>
        			<span></span>
        			<li><a href="">北京</a></li>
        			<!-- <li><a href="">成都</a></li> -->
    		</ul>
    	</div>



   	<div class="search">
        		<input type="text" autocomplete="off" id="searchInput" placeholder="输入小区开始找房">
        		<button class="btn">
        			<i class="fa fa-search" aria-hidden="true"></i>
       		 </button>
    	</div>

    	<div class="aside">
        <ol>
            <li class="li li-district" data-type="sellPrice" >
                <span id="district_name">区域</span>
                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                <ol class="drop-list dlist" >
                        <li data-value="不限" class="item ditem clicked">不限</li>
                        <li data-value="东城" class="item ditem">东城</li>
                        <li data-value="朝阳" class="item ditem">朝阳</li>
                        <li data-value="海淀" class="item ditem">海淀</li>
                        <li data-value="丰台" class="item ditem">丰台</li>
                        <li data-value="石景山" class="item ditem">石景山</li>
                        <li data-value="门头沟" class="item ditem">门头沟</li>
                        <li data-value="房山" class="item ditem">房山</li>
                        <li data-value="通州" class="item ditem">通州</li>
                        <li data-value="顺义" class="item ditem">顺义</li>
                        <li data-value="昌平" class="item ditem">昌平</li>
                        <li data-value="大兴" class="item ditem">大兴</li>
                        <li data-value="怀柔" class="item ditem">怀柔</li>
                        <li data-value="平谷" class="item ditem">平谷</li>
                        <li data-value="密云" class="item ditem">密云</li>
                        <li data-value="亦庄" class="item ditem">亦庄</li>
                </ol>
                   
            <li class="li li-business" data-type="roomArea">
                <span id="business_name">商圈</span>
                 <i class="fa fa-sort-desc" aria-hidden="true"></i>
                 <ol class="drop-list blist" >
                       
                </ol>
           </li>
           <!--  <li class="li" data-type="roomType">
                <span>房型</span>
                 <i class="fa fa-sort-desc" aria-hidden="true"></i>
            </li>
            <li class="li" data-type="more">
                <span>更多</span>
                 <i class="fa fa-sort-desc" aria-hidden="true"></i>
            </li> -->
            <li class="li-btn li">
                <i class="fa fa-trash" aria-hidden="true"></i>
                清除全部条件
            </li>
        </ol>
    </div>

		<div class="user">
			<i class="fa fa-user" aria-hidden="true"></i>
			<span class="sign-in">登录</span><span class="sign-up">注册</span>
		</div>
</div>
