<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>房地产大数据分析平台</title>

  
  <!--common-->
  <link href="/newIndex/css/style.css" rel="stylesheet">
  <link href="/newIndex/css/style-responsive.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/source/jquery.min.js"></script>




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">
<%- include('areaMap'); %>
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href=""><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>图表统计</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="blank_page.html"> 1</a></li>
                        <li><a href="boxed_view.html"> 2</a></li>
                        <li><a href="leftmenu_collapsed_view.html"> 3</a></li>
                        <li><a href="horizontal_menu.html"> 4</a></li>

                    </ul>
                </li>
               

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="images/photos/user-avatar.png" alt="" />
                            John Doe
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/newIndex/js/jquery-1.10.2.min.js"></script>
<script src="/newIndex/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/newIndex/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/newIndex/js/bootstrap.min.js"></script>
<script src="/newIndex/js/modernizr.min.js"></script>
<script src="/newIndex/js/jquery.nicescroll.js"></script>



<!--common scripts for all pages-->
<script src="/newIndex/js/scripts.js"></script>

</body>
</html>
<script type="text/javascript" src="/javascripts/widget/areaMap.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    var areaMap =  $("#dituContent").areaMap({
                level:'province'
          });
          areaMap.init();
          var overlay = areaMap.heatmap();

          $('.li-item').on('click',function(){
            $(this).children().addClass('fa fa-check');
            $(this).siblings().each(function(){
                $(this).children().removeClass('fa fa-check');
            });
            var heatmap_type = $(this).data('val');
            areaMap.heatmap_type = heatmap_type;
            map.removeOverlay(overlay);
            overlay = areaMap.heatmap();

           areaMap.init();

         })
})
     
</script>

