<link rel="stylesheet" href="/stylesheets/NewIndexGraph.css">
<script src="javascripts/widget/NewIndexGraph.js"></script>

<!--scripts-->



<div class="NewIndexGraph">
	<div class="index-graph-title">
	<span class="city-name">全国</span>数据
	</div>
	<!--标题 end-->
	<div class="index-graph-table">
		<table>
			<tr class="table-title">
				<td>
					<div>地名</div>
				</td>
				<td>
					<div>小区数量</div>
				</td>
				<td>
					<div>均价</div>
				</td>
				<td>
					<div>同上月比</div>
				</td>
			</tr>
			<tr class="table-context">
				<td>
					<div class="city-name">全国</div>
				</td>
				<td>
					<div>8000</div>
				</td>
				<td>
					<div>35213</div>
				</td>
				<td>
					<div>+0.2%</div>
				</td>
			</tr>
            
		</table>
    </div>
    <!--统计表 end-->
    <div id='new-graph-container'>
   </div>
     <!--折线图 end-->
   <div class="index-city-table">
   	   <div class="index-graph-title">
   	   	   <span class="city-name">全国</span>下属地区数据
   	   </div>
       <!-- 标题end -->
       <div class="district-table">
		<table>
			<tr class="table-title">
				<td>
					<div>地名</div>
				</td>
				<td>
					<div>小区数量</div>
				</td>
				<td>
					<div>均价</div>
				</td>
				<td>
					<div>同上月比</div>
				</td>
			</tr>
			<tr class="table-context-row1 table-context">
				<td>
					<div class="city-name1">哈尔滨</div>
				</td>
				<td>
					<div>231</div>
				</td>
				<td>
					<div>10241</div>
				</td>
				<td>
					<div>-0.2%</div>
				</td>
			</tr>
			<tr class="table-context-row2 table-context">
				<td>
					<div class="city-name2">齐齐哈尔</div>
				</td>
				<td>
					<div>142</div>
				</td>
				<td>
					<div>8093</div>
				</td>
				<td>
					<div>+0.3%</div>
				</td>
			</tr>
			<tr class="table-context-row3 table-context">
				<td>
					<div class="city-name3">大庆</div>
				</td>
				<td>
					<div>112</div>
				</td>
				<td>
					<div>9076</div>
				</td>
				<td>
					<div>+0.15%</div>
				</td>
			</tr>
			<tr class="table-context-row4 table-context">
				<td>
					<div class="city-name4">牡丹江</div>
				</td>
				<td>
					<div>82</div>
				</td>
				<td>
					<div>8829</div>
				</td>
				<td>
					<div>-0.2%</div>
				</td>
			</tr>
			<tr class="table-context-row5 table-context">
				<td>
					<div class="city-name5">佳木斯</div>
				</td>
				<td>
					<div>78</div>
				</td>
				<td>
					<div>7900</div>
				</td>
				<td>
					<div>+0.2%</div>
				</td>
			</tr>
 
		</table>
    </div>
   </div>
   <!-- 下属城市统计表 -->
</div>
<!--NewIndexGraph end-->