<link rel="stylesheet" href="/stylesheets/signModal.css">
<div class="sign-modal">
  <form>
    <ul>
      <li>
        <div class="modal-title">
          <div class="sign-in">
            用户登录
          </div>
          <div class="sign-up">
            注册
          </div>
        </div>
      </li>
      <li>
        <input type="text" name="" value="" placeholder="请输入用户名">
      </li>
      <li>
        <input type="password" name="" value="" placeholder="请输入密码">
      </li>
      <!--li>
        <label>
          <input type="checkbox" name="" value="" id="remember_pw" checked>
          下次自动登录
        </label>
        <span>
          找回密码
        </span>
      </li-->
      <li>
        <a href="#">登录</a>
      </li>
    </ul>
  </form>
</div>
